<section class="section_alignment" style="text-align:center; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961;">

  <h1 class="section_title">Where to stay</h1>

  <div class="row">
    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303243-accommodation-hotel-hotel','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'HotelHotel.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Hotel Hotel</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303239-accommodation-east-hotel
','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'EastHotel.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Accomodation East Hotel</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303241-vibe-hotel-canberra-airport','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background: url(<%=asset_path 'VibeHotel.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Vibe Hotel</h3>
      </div>
    </div>

  </div>

</section>
