<section class="section_alignment" style="text-align:center; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961;">

  <h1 class="section_title">Hire a bike</h1>

  <div>
    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303238-spinway-bike-rentals-canberra','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background:  url(<%=asset_path 'Spinway.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Spinway Bike Rental</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303242-cycle-with-mulga-bicycle-tours','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background:  url(<%=asset_path 'Mulga.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Cyle with Mulga Rental</h3>
      </div>
    </div>

    <div class="listing_container" onclick="window.open('https://www.cyclelifehq.com/en/listings/303240-damn-fine-bike-hire','mywindow');" style="cursor: pointer;">
      <div id="bikeRide1" style="height: 300px; width: 300px; display: inline-block; background:  url(<%=asset_path 'dfbh.jpg'%>) no-repeat 50% 50%; background-size: cover;">
        <h3 class="listing_title">Damn Fine Bike Hire</h3>
      </div>
    </div>
  </div>

</section>

<div id="promoBox" class="promo">
	<a target="_blank" href="https://www.cyclelifehq.com/en/listings/256349-cycle-lake-burley-griffin-central-basin-loop-ride"><button class="hero_more"><h2 style="color: #fff">See our featured ride!</h2>Lake Burley Griffin</button></a>
</div>
