<section class="section_alignment" style="text-align:center; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961;">
  <h1 class="section_title">Explore bike rides</h1>

  <div style="width: 100%; height: 200px; background-color: yellow;">
  </div>
</section>
