<section class="section_alignment" style="text-align:center; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961;">
  <h1 class="section_title">Start planning</h1>

  <p>Explore the world on a bike and see what it has to offer</p>

  <div>
    <p>Hire a bike</p>
    <img src="">
  </div>

  <div>
    <p>Tours</p>
    <img src="">
  </div>

  <div>
    <p>Weekend trips</p>
    <img src="">
  </div>

  <div>
    <p>Skills and training</p>
    <img src="">
  </div>

  <div>
    <p>Hire a guide</p>
    <img src="">
  </div>

  <div>
    <p>Self-guided tours</p>
    <img src="">
  </div>

  <div>
    <p>Events</p>
    <img src="">
  </div>
</section>
