<section class="section_alignment" style="text-align:left; position:relative; padding-top: 20px; padding-bottom: 20px; color: #525961; width: 70%; margin: 0px auto;">

  <div class="row">
    <h1 class="section_title">Getting around Canberra</h1>

    <h3>Driving</h3>
    <p>Three hours from Sydney and eight hours from Melbourne, driving to the Nation’s Capital with your bike on board is a breeze. Once you’re here you will find easy free flowing roads, lots of parking and no tollways.
  </p>

  <p>Arriving by plane, train or bus? Hiring a car to navigate Canberra is a great option. Booking prior to arrival is advised. Car hire available:</p>

    <ul>
      <li><strong>Avis</strong>. <a target="_blank" href="http://www.avis.com.au">www.avis.com.au</a>. Phone 02 6219 3033.</li>
      <li><strong>Budget</strong>. <a target="_blank" href="http://www.budget.com.au">www.budget.com.au</a>. Phone 02 6219 3040.</li>
      <li><strong>East Coast Car Rentals</strong>. <a target="_blank" href="http://www.eastcoastcarrentals.com.au">www.eastcoastcarrentals.com.au</a>. Phone 02 6248 9623.</li>
      <li><strong>Europcar</strong>. <a target="_blank" href="http://www.europcar.com.au">www.europcar.com.au</a>. Phone 02 6213 0300.</li>
      <li><strong>Hertz</strong>. <a target="_blank" href="http://www.hertz.com.au">www.hertz.com.au</a>. Phone 02 6249 6211.</li>
      <li><strong>Redspot</strong>. <a target="_blank" href="http://www.redspot.com.au">www.redspot.com.au</a>. Phone 02 6248 9966.</li>
      <li><strong>Thrifty</strong>. <a target="_blank" href="http://www.thrifty.com.au">www.thrifty.com.au</a>. Phone 02 6248 9081.</li>
    </ul>

    <br />
    <h3>Ride sharing</h3>

    <strong>Uber</strong>
      <p>Order your <a target="_blank" href="http://www.uber.com">UBER ride</a> and make your way around Canberra with the help of our local drivers. Download the UBER app where you can order your ride directly from your smartphone. No cash needed, UBER will charge your card after your ride.
      </p>

      <p>Other ride sharing options in the Capital are <a target="_blank" href="http://www.ontapcars.com.au/">ONTAP</a> and <a target="_blank" href="http://www.gocatch.com">GoCatch.</a></p>

    <br />
    <h3>Taxis</h3>

    <ul>
      <li><a target="_blank" href="http://www.actcabs.com.au/">ACT Cabs</a>. Phone 02 2680 0077</li>
      <li><a target="_blank" href="http://www.canberraelite.com.au/">Canberra Elite</a>. Phone 13 22 27 or SMS your name, pickup address and time to be collected to 0417 672 773. You can also book online.</li>
      <li><a target="_blank" href="http://www.cabxpress.com.au">Cabexpress Phone</a>. 02 6181 2700, book online or download Cabxpress iPhone and Android Booking App.</li>
      <li><a target="_blank" href="http://silverservicecanberra.com.au/">Silver Service</a>. Phone 133 100 or book online. This is a premium service perfect for corporate clients and special occasions. </li>
    </ul>

    <br />
    <h3>Public transport</h3>

    <p>One of the most economic  <p>One of the most economical ways to make your way around Canberra is to use the public bus service ACTION runal ways to make your way around Canberra is to use the <a target="_blank" href="http://www.transport.act.gov.au/">public bus service ACTION run by Transport Canberra</a>. ACTION also caters for bike riders with on board bike storage facilities. To travel on the ACTION bus service you can purchase a MyWay Card or pay cash on board.</p>

  </div>
</section>
