	<body>

		<section style="width: 70%; margin: 0px auto;">
			<h1>Destinations</h1>

		  <h2>Australia</h2>
	    <ul>
	    <li><h3> <%= link_to "Canberra", destination_path %>
			</ul>
		</section>

	</body>
