<html>

	<head>
	</head>

	<body>

		<h1>Become an ambassador</h1>

		<h3>What is a CycleLifeHQ Ambassador?</h3>

		<ul>
			<li>Passionate about making cycling better for everyone in their area.</li>
			<li>Understands cycling in their area -  how it works, what's great, who the players are and how it could be improved.</li>
			<li>Willing to help identify, promote and improve the quality of cycling experiences in their area.</li>
		</ul>

		<h3>What do CycleLifeHQ Ambassador do?</h3>

		<ul>
			<li>Provide information on the type of cycling is it known for, what are the key local cycling/visitor/tourist groups and businesses, what's working well and what could be enhanced.</li>
			<li>Help to showcase awesome self guided rides in your location.</li>

			<ul>
				<li>Identify 10-15 rides spanning the key types of rides (mountain biking, road riding and sightseeing).</li>
				<li>Use the CycleLifeHQ platform to create these and publish these rides.  We have made this easy to do with a clear and tested instruction guide.  We also have a team to help you if you have difficulties.</li>
			</ul>

		</ul>

		<h3>Do You Get Paid?</h3>

		<p>Not for you time but for your success. We reward Ambassadors through our profit sharing scheme. We put a % of profit aside each year and distribute that to our Ambassadors based on their performance. We also reward the top 40 Ambassadors via attendance at our annual get away where we go somewhere amazing, spend a week cycling and having a great time and connecting as Ambassadors. The top 40 Ambassadors by performance get to go on this trip each year.</p>

		<h3>How do you become a CycleLifeHQ Ambassador?</h3>

		<ol>
			<li>Self-identify interest and email / contact us.</li>
			<li>We will ask you about your background and motivations.</li>
			<li>We will forward you more detail.</li>
			<li>If we're both happy we will sign you up.</li>
		</ol>

	</body>

</html>
